#bookDetails{
    padding: 40px 0;
    .bookDetails{
       display: flex;
       gap: 25px;
    
       img{
        margin-top: 10px;
       }
    
       &--name{
       line-height: 1.6;

       button{
        padding: 10px 36px;
        color: #010049;
        background: none;
        border: 2px solid #010049;
        margin-top: 10px;
       }
        &__quan{
            display: flex;
            align-items: center;
           
            margin: 10px 0;
            h4{
                text-align: center;
            }
            button{
                padding: 3px 5px;
                color: white;
                background: #010049;;
            }
           }
           &__desc{
            button{
                padding: 10px 20px;
                color: #010049;
                background: none;
                border: 2px solid #010049;
                margin-top: 10px;

            }
           }

       }
       
       
    }

  
}